

    
   <div class="row login-form" style="margin-top: 33px;">
        <div class="col-md-4 offset-md-4">
            <div></div>
            <h1 style="text-align: center;margin-top: 42px;"><i class="fas fa-door-open" style="color: #a2af3c;"></i>Edan<span style="color: #DEAE05;">SPA</span></h1>
            <div style="height: 24px;background: #83429A;;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                <h1 class="float-none"></h1>
                <p class="d-flex justify-content-center" style="color: rgb(226, 194, 66);"><a class="d-block float-start" href="#" style="color: rgb(255,255,255);"></a><strong>Log In</strong></p>
            </div>
            <form  class="custom-form"  [formGroup]="form" (ngSubmit)="onSubmit()" style="background: #f2efef;border-style: none;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;"><label class="form-label" style="color: #040303;">Email</label>
                <div class="input-group" style="border-style: none; ">
                    <input  class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" type="text"  id="email" ngModel name="email" style="border-style: none; background: #DEAE05;"><span class="input-group-text" style="background: #83429A;border-style: none;"><i class="fas fa-envelope" style="color: rgb(255,255,255);"></i></span>
                
                    <!----------->

                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                      </div>
                <!--------->
                
                
                </div>
                
                    <label class="form-label" style="color: hsl(30, 7%, 5%);">Password</label>
                <div class="input-group" style="border-style: none;">
                    <input class="form-control"   formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" type="password" id="password" ngModel name="password" style="border-style: none; background: #DEAE05;"><span class="input-group-text" style="background: #83429A;border-style: none;">
                        <i class="fas fa-lock" style="color: rgb(255, 255, 255);"></i></span>
                    
                    <!----->
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Password is required</div>
                        <div *ngIf="f['password'].errors['minlength']">
                          Password must be at least 6 characters
                        </div>
                        <div *ngIf="f['password'].errors['maxlength']">
                          Username must not exceed 40 characters
                        </div>
                      </div>
                      <!----->
                    
                    </div>
                <button class="btn btn-sm d-block submit-button w-100" type="submit"   (click)="onSubmit()"style="background: #DEAE05;border-radius: 5px;">
                    <i class="fa fa-circle-o-notch"></i>&nbsp;Log In</button>
            </form> 
       



        